---
import ProjectCard from "../ProjectCard.astro";
import { t } from "../../i18n/utils.ts";
export interface Props { lang: string }
const { lang } = Astro.props as Props;

const textVueTodolist = t(lang, 'projects.textVueTodolist');
const textTilemapGenerationWFC = t(lang, 'projects.textTilemapGenerationWFC');
const textLeagueOfLegendsRandomizer = t(lang, 'projects.textLeagueOfLegendsRandomizer');
const textAdventOfCode2015 = t(lang, 'projects.textAdventOfCode2015');
const textWaveFunctionCollapse = t(lang, 'projects.textWaveFunctionCollapse');
const textGameOfLife = t(lang, 'projects.textGameOfLife');
const text36DaysBlender = t(lang, 'projects.text36DaysBlender');
const textBlenderPortfolio = t(lang, 'projects.textBlenderPortfolio');
const pageTitle = t(lang, 'projects.title');
---

<div class="container px-5 py-8 mx-auto">
    <h1 class="title-font sm:text-4xl text-3xl">{pageTitle}</h1>
</div>
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 pt-8 pb-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100 projects-divider">
            <ProjectCard category="Coding" date="2026" title="Todolist app with Vue" text={textVueTodolist} link="https://github.com/LorenzoCode3/vue-todolist" />
            <ProjectCard category="Coding" date="2026" title="Tilemap Generation with WFC" text={textTilemapGenerationWFC} link="https://github.com/LorenzoCode3/wave-function-collapse-tilesets" />
            <ProjectCard category="Coding" date="2025" title="League of Legends Randomizer" text={textLeagueOfLegendsRandomizer} link="https://github.com/LorenzoCode3/league-of-legends-randomizer" />
            <ProjectCard category="Coding" date="2025" title="Advent of Code 2015 Challenge" text={textAdventOfCode2015} link="https://github.com/LorenzoCode3/advent-of-code-2015" />
            <ProjectCard category="Coding" date="2025" title="Wave Function Collapse" text={textWaveFunctionCollapse} link="https://github.com/LorenzoCode3/wave-function-collapse" />
            <ProjectCard category="Coding" date="2024" title="Game of Life in Pygame" text={textGameOfLife} link="https://github.com/LorenzoCode3/GameOfLife-pygame" />
            <ProjectCard category="3D Rendering" date="2023" title="36 Days Of Type Art Challenge" text={text36DaysBlender} link="https://www.behance.net/gallery/224994217/36-Days-Of-Type-Challenge" />
            <ProjectCard category="3D Rendering" date="2019" title="Blender Portolio" text={textBlenderPortfolio} link="https://www.behance.net/gallery/225063831/Blender-Portfolio" />
        </div>
    </div>
</section>

<style is:global>
    html.light .projects-divider { border-color: #e5e7eb; }
    html.dark .projects-divider { border-color: #374151; }
</style>
